<p id="notice"><%= notice %></p>

<h1>Blogs</h1>

<!-- <table>
  <thead>
    <tr>
      <th>BlogTitle</th>
      <th>Date</th>
      <th>Body</th>
      <th colspan="4"></th>
    </tr>
  </thead> -->

  <!-- <tbody> -->
<% cache do %>
  <div>
    <%= render partial: @blogs, spacer_template: "blog_ruler"%>
  </div>
<% end %>
<!--   </tbody>
</table> -->

<br>

<%= link_to 'New Blog', new_blog_path %>
