<h1>Pages#contact</h1>
<p><%=number_to_phone(5555555555, area_code: true)%></p>

<p><%=number_to_currency(550)%></p>

<p><%=number_to_percentage(5.5, precision: 1)%></p>

<p><%=number_with_delimiter("534543234")%></p>

<hr>

<%#= source_helper("contact") %>
